/* Main SU header bar */
#SUTemplateMainHeader
{
	text-align:left;
	width:100%;
	padding:0px;
	margin:0px;
	background-color:#A42822;
	height:50px;
	clear:both;
	border-bottom-color:#333333;
	border-bottom-width:6px;
	border-bottom-style:solid;
	line-height:50px;
	font-family: Arial, sans-serif;
}

#MainHeaderTitle
{
	font-size:20pt;
	font-weight:bold;
	text-decoration:none;
	color:#ffffff;
	padding:5px;
}

#MainHeaderMenu
{
	background-color:#A42822;
	display:none;
}

#MoreOptionsBar
{
	background-color:#A42822;
	display:none;
}